{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/users.css'  %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <title>Step 2 - Where should the help go?</title>
</head>
<body>
    <header class="main-header">
        <div class="logo"><a href="#">Arytes</a></div>
    </header>
    <form method="post" action="{% url 'step_two_create' %}">
        <main class="auth-section">
            <div class="container auth">
                <h1 class="header auth">Where should the help go?</h1>
                <div class="auth-form">
                    {% csrf_token %}
                    
                    <div class="form-divider">
                        <p class="mini-header">Street Address</p>
                        <div class="form-group">
                            {{ form.street_address }}
                        </div> 
                    </div>

                    <div class="form-divider-container">
                        <div class="form-divider space">
                            <p class="mini-header">Apt/Suite (Optional)</p>
                            <div class="form-group">
                                {{ form.apt_suite }}
                            </div>
                        </div>

                        <div class="form-divider space">
                            <p class="mini-header">City</p>
                            <div class="form-group">
                                {{ form.recipient_city }}
                            </div>
                        </div>

                        <div class="form-divider">
                            <p class="mini-header">State</p>
                            <div class="form-group">
                                {{ form.recipient_state }}
                            </div>
                        </div>
                    </div>

                    {% if form.errors %}
                        <div class="form-errors">
                            {% for field, error_list in form.errors.items %}
                                {% for error in error_list %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>

                <p id="info-collection-notice" class="mini-header hover">Why is this information collected?</p>

                <div id="details-section-auth" class="details-section-auth">
                    <p class="paragraph">
                        <strong>Recipient Street Address (Optional)</strong> is collected to inform volunteers of the patients location in order for them to drop off meals, coordinate rides, and more.
                        This information is not needed to create a page or account, and can be skipped by pressing continue.
                    </p>

                    <p class="paragraph">
                        <strong>Remember</strong> we will never sell or provide your information to others without consent.
                    </p>
                </div>

            </div>

            <div class="image-container signup">
                <img src="{% static 'images/flower-pot.png' %}" alt="flower-pot"/>
            </div>
        </main>

        <div class="footer">
            <p class="mini-header step">Step 2 of 3</p>
            <div class="button-container">
                <button type="button" class="button auth-big container" onclick="history.back()">Back</button>
                <button type="submit" class="button auth-big">Continue</button>
            </div>
        </div>
    </form>

</body>
</html>

<script>
    const infoNotice = document.getElementById("info-collection-notice");
    const detailsSection = document.getElementById("details-section-auth");

    infoNotice.addEventListener("click", displayNotice);
    function displayNotice() {
        if (detailsSection.style.display == "none") {
            detailsSection.style.display = "block";
        } else {
            detailsSection.style.display = "none";
        }
        
    }
</script>