body {
    background-color: #EFEFEF;
    color: #2c7432;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0.75rem 6rem;
    background-color: #EFEFEF;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Source Serif 4", sans-serif;

}

.auth-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem;
}

.image-container.signup img {
    width: 177.5px;
    height: 250px;
}

.image-container.signup {
    margin-left: 10rem;
}

.container.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;

}

.header {
    font-size: 2rem;
}

.header.auth {
    font-family: "Source Serif 4", sans-serif;
}

.form-divider {
    margin-bottom: 1rem;
}

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.mini-header {
    font-size: 1rem;
    font-weight: 700;
}

.mini-header.step {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(114, 114, 114);
}

.form-group {
    margin-right: 1rem;

}

.form-group input {
    font-size: 1rem;
    border-radius: 5px;
    padding: .5rem;
    font-family: inherit;
    width: 100%;
    border: 1px solid #222222;
}

.form-group textarea {
    font-size: 1rem;
    border-radius: 5px;
    padding: .5rem;
    font-family: inherit;
    width: 100%;
    border: 1px solid #222222;
    resize: none;
}

.button.auth-big {
    font-size: 1.25rem;
    font-family: inherit;
    border-radius: 50px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    background-color: #2c7432;
    cursor: pointer;
    color: #EFEFEF;
    border: none;
}

.button.auth-big.container {
    font-size: 1.25rem;
    font-family: inherit;
    border-radius: 50px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    background-color: #EFEFEF;
    cursor: pointer;
    color: rgb(114, 114, 114);
    border: #2c7432;
    margin-right: 1rem;
}


.button.auth {
    font-size: 1.25rem;
    font-family: inherit;
    border-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #2c7432;
    cursor: pointer;
    color: #EFEFEF;
    border: none;
}

.form-errors {
    margin-bottom: 1.5rem;
}

.error-message {
    color: #FF375F;
    font-family: inherit;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -5px 5px rgba(209, 209, 209, 0.5);
    margin-bottom: 1rem;
    padding: 2rem 6rem;
}

.footer:hover {
    color: #3fa748;
    transition: color .2s ease-in;
}

.footer-signup {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px -5px 5px rgba(209, 209, 209, 0.5);
    margin-bottom: 1rem;
    padding: 2rem 6rem;
}

.footer-signup:hover {
    color: #3fa748;
    transition: color .2s ease-in;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-divider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-divider-container-signup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.mini-header.hover {
    cursor: pointer;
    text-decoration: underline;
}

.mini-header.hover:hover {
    color: #3fa748;
    transition: color .2s ease-in;
}

.details-section-auth {
    display: none;
}

.form-divider.space {
    margin-right: 1rem;
}