body {
    background-color: #EFEFEF;
    color: #1A1A1A;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    background-color: #EFEFEF;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #cf5605;

}

.auth-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5rem;
}

.container.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 700px;

}

.header {
    font-size: 2rem;
}

.form-divider {
    margin-bottom: 1rem;
}

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.mini-header {
    font-size: 1rem;
    font-weight: 700;
}

.form-group {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.form-group input {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: .5rem;
    font-family: inherit;
}

.button.auth {
    font-size: 1rem;
    border-radius: 5px;
    padding-top: .3rem;
    padding-bottom: .3rem;
    background-color: #cf5605;
    cursor: pointer;
}


.form-errors {
    margin-bottom: 1.5rem;
}
.error-message {
    color: #FF375F;
    font-family: "DM Sans", sans-serif;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}