{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/users.css'  %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <header class="main-header">
        <div class="logo"><a href="#">Calendar.io</a></div>
    </header>

    <main class="auth-section">
        <div class="container auth">
            <h1 class="header auth">Create Account</h1>
            <form method="post" class="auth-form">
                {% csrf_token %}
                
                <div class="form-group">
                    {{ form.username }}
                </div> 
                <div class="form-group">
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.password1 }}
                </div> 
                <div class="form-group">
                    {{ form.password2 }}
                </div>

                {% if form.errors %}
                    <div class="form-errors">
                        {% for field, error_list in form.errors.items %}
                            {% for error in error_list %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit" class="button auth">Sign Up</button>
            </form>

            <p class="link">Already have an account? <a href="{% url 'load_login' %}">Log In</a></p>
        </div>
    </main>

</body>
</html>