{% load static %}
<div id="auth-section">
    <form>
        <main class="auth-section">
            <div class="container auth">
                <h1 class="header auth">{{ user.first_name }}'s profile</h1>
                <div class="auth-form">
                    
                    <div class="form-divider-container-signup">
                        <div class="form-divider space">
                            <p class="mini-header">First Name</p>
                            <div class="form-group">
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="form-divider">
                            <p class="mini-header">Last Name</p>
                            <div class="form-group">
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>

                    <div class="form-divider-container-signup">
                        <div class="form-divider space">
                            <p class="mini-header">Email Address</p>
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="form-divider">
                            <p class="mini-header">Phone Number</p>
                            <div class="form-group">
                                {{ form.phone_number }}
                            </div>
                        </div>
                    </div>
                    
                    {% if form.errors %}
                        <div class="form-errors">
                            {% for field, error_list in form.errors.items %}
                                {% for error in error_list %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="image-container signup">
                <img src="{% static 'images/flower-pot.png' %}" alt="flower-pot"/>
            </div>
        </main>

        <div class="footer">
            <p class="mini-header step">Member since: {{ user.date_joined.date }}</p>
            <div class="button-container">
                <button type="button" class="button auth-big container" hx-get="{% url 'load_profile_fragment' %}" hx-target="#auth-section" hx-swap="outerHTML">Cancel</button>
                {% csrf_token %}
                <button type="submit" class="button auth-big" hx-post="{% url 'save_profile' %}" hx-target="#auth-section" hx-swap="outerHTML">Save</button>
            </div>
        </div>
    </form>
</div>